
<% if(!current_user) %>

	<%= link_to "register", new_user_registration_path %>

	<%= link_to "login", new_user_session_path %>

<% else %>

	<%= form_for(:user , :url => pages_home_path(:user)) do |f| %>
	<%= f.check_box :tennis %>tennis<br>
	<%= f.check_box :basketball %>basketball<br>
	<%= f.check_box :racquetball %>racquetball<br>
	<%= f.check_box :soccer %>soccer<br>
	<%= f.check_box :run %>run<br>
	<%= f.check_box :weights %>weights<br>
	<%= f.check_box :swim %>swim<br>
	<%= f.check_box :spin %>spin<br>
	<%= f.check_box :climb %>climb<br>
	<%= f.submit %>
	<% end %>
	<br>
<!-- 	link_to current_user.active ? "Set inactive" : "Set active" ,users_toggle_activation_path, method: :put -->
	<br>
	<%= image_tag(current_user.avatar.url(:medium)) %>
	<br>

	<div><%= current_user.active %><%= current_user.tennis %></div>
<% end %>